CREATE TABLE ANS_EMPLOYEEM
(
EMP_ID INTEGER PRIMARY KEY,
EMP_NAME VARCHAR(20) NOT NULL,
EMP_AGE INT CHECK(EMP_AGE>=18),
EMP_EMAIL VARCHAR(30) DEFAULT 'email not been set',
DEP_ID INTEGER FOREIGN KEY REFERENCES ANS_DEPARTMENT2(DEP_ID),

)

CREATE TABLE ANS_DEPARTMENTM
(
DEP_ID INTEGER PRIMARY KEY,
DEP_NAME VARCHAR(20) UNIQUE,
DEP_MGRID INT
);
SELECT * from ANS_EMPLOYEEM ae ;
INSERT INTO ANS_DEPARTMENTM VALUES(1,'SALES',10);
INSERT INTO ANS_DEPARTMENTM VALUES(2,'ACCOUNTS',11);
INSERT INTO ANS_DEPARTMENTM VALUES(3,'HR',12);
INSERT INTO ANS_DEPARTMENTM VALUES(4,'FINANCE',14);

SELECT * FROM ANS_DEPARTMENTM;

INSERT INTO ANS_EMPLOYEEM VALUES(1001,'JOHN',25,'john@gmail.com',1);
INSERT INTO ANS_EMPLOYEEM VALUES(1002,'JAMES',26,'james@gmail.com',2);
INSERT INTO ANS_EMPLOYEEM VALUES(1003,'RITHA',30,'ritha@gmail.com',3);
INSERT INTO ANS_EMPLOYEEM VALUES(1004,'LAURA',26,'laura@gmail.com',4);
INSERT INTO ANS_EMPLOYEEM VALUES(1005,'RAMYA',28,'ramya@gmail.com',2);

INSERT INTO ANS_EMPLOYEEM(EMP_ID,EMP_NAME,EMP_AGE,DEP_ID) VALUES(1006,'CLIEVE',25,1);